{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    </head>
    <body>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>

            {% for x in mymembers %}
              <tr>
                <td>{{x.id}}</td>
                <td>{{x.firstName}}</td>
                <td>{{x.lastName}}</td>
              </tr>
            {% endfor %}            
        </table>
    </body>
</html>